/* .dateLabel {
  margin-right: 5px;
}
body {
  background-color: 156064;
}

#events {
  background-color: bisque important!;
}
.title {
  color: f0f3f5;
} */
.footer {
  height: 40px;
  background: #33ff66;
  border-radius: 10px;
  border: 1px solid #1feb52;
  margin: 5px;
  color: white;
  text-align: center;
}
/* .home {
  text-align: center;
}
.body {
  display: flex;
}  */
