.container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 100vh;
}

.events__List {
  grid: 1;
  overflow: scroll;
  background-color: #eee;
}

.events__List::-webkit-scrollbar {
  display: none;
}
.events__List {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
